<div class="page-container">
    <div class="page-content">
        <div class="app-title"> Stoodi <div>
        <div id="app-description">Insert descritpion of the app here</div>
        <app-transcript-box></app-transcript-box>
        <div class="button-area">
            <app-file-upload-button></app-file-upload-button>
            <button mat-raised-button> Download Transcript </button>
            <button mat-raised-button> Generate Flashcards </button>
            <!-- <button (click)="sendMsg()">Send Message</button> -->
        </div>
    </div>
</div>