button:disabled{
    // note: change color, this was just a test
    background-color: rgb(255, 101, 80);
    opacity: 0.3;
}

.choose-and-upload-container {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}